<navbar class="my-2 w-screen flex justify-around" style="">
    <a class="text-xl hover:underline decoration-pink-500" href="#">Inicio</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#Jugadores">Jugadores</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#partidas">Partidas</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#">Imagenes</a>
</navbar>
