<navbar class="my-10 w-screen flex justify-around" style="">
    <a class="text-xl hover:underline decoration-pink-500" href="#">Inicio</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#personajes">Personajes</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#">Partidas</a>
    <a class="text-xl hover:underline decoration-pink-500" href="#">Imagenes</a>
</navbar>