---
import { getCollection } from 'astro:content';
const characters = await getCollection('actors');
---


<section aria-label="Personajes partida de rol" class="flex justify-center" id="Jugadores">
    <div class="px-4 max-w-screen">
        <h3 class="py-7 text-center text-4xl">Jugadores</h3>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
        {
            characters.map((character)=>{
                const {slug, data} = character;
                const {name, player, img}= data;
                return (
                    <article class="flex">
                        <a href={"./character/"+slug} class="mb-2 xl:mb-0 transition hover:scale-110">
                            <img transition:name={`img-${slug}`} class="mr-5 h-full w-full rounded object-cover md:w-75 md:h-95" src={"./characters/" + img} alt={name}/>
                        </a>
                    </article>
                );
            })
        }
        </div>
    </div>
</section>